$main-color: rgb(32, 63, 63);

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
}

#root {
    width: 250px;
    height: 250px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lighten($main-color, 10%);

    &:hover{
        background-color: darken($main-color, 10%);
    }
}